BYBIT_API_KEY=your_api_key
BYBIT_SECRET=your_secret
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

TELEGRAM_PRICE_SURGE_BOT_TOKEN=your_bot_token
TELEGRAM_PRICE_SURGE_CHAT_ID=your_chat_id
